@model List<Project_63130599.Models.SanPham>

@{
    ViewBag.Title = "Tìm Kiếm | " + ViewBag.TuKhoa;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- /search -->
<!-- Path -->
<div class="py-12 bg-slate-300 text-center mt-[116px]">
    <a class="text-slate-500 mx-2" href="/">Trang chủ</a> / <span class="mx-2">Kết quả tìm kiếm "@ViewBag.TuKhoa" - KITSTORE Việt Nam</span>
</div>

<div class="px-[20vw] my-12">
    <h2 class="text-center font-bold text-[24px]">
        Tìm kiếm của bạn "@ViewBag.TuKhoa" tất
        cả kết quả:
    </h2>
    <form class="my-6 flex items-center justify-center">
        <input type="text"
               class="p-2 bg-gray-100 w-full h-[40px] outline-none border"
               value="@ViewBag.TuKhoa"
               name="TuKhoa">
        <button class="bg-red-500 font-semibold text-white h-[40px] px-5">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
    <div class="grid grid-cols-4 mt-3 gap-2">

        @foreach (var item in Model)
        {

            <div class=" bg-white border border-gray-200 shadow ">
                <a href="@Url.Action("details","Sanpham_63130599", new { id = item.Id })" class="relative group">
 
                    <img class="p-4 rounded-t-lg w-[236px] h-[236px] object-cover rounded-[4px]" src="@item.Anh"
                         alt="Product" />
                    <span class="absolute top-[10px] left-[10px] px-4 text-[12px] py-1 bg-red-400 rounded-[3px] font-bold text-white">-40%</span>
                    <span class="absolute top-[50%] translate-y-[-50%] text-center left-[50%] translate-x-[-50%] px-4 py-1 bg-red-400 text-[16px] font-bold text-white hidden group-hover:block">
                        MUA
                        NHANH
                    </span>
                </a>
                <div class="px-5 pb-5">
                    <a href="#">
                        <h5 class=" tracking-tight text-gray-900 text-center font-bold">
                            @item.TenSP
                        </h5>
                    </a>
                    <p class="flex items-center mt-2.5 gap-1 justify-center font-medium">
                        <span class="line-through">@string.Format("{0:#,0}", item.Gia + 300000)đ</span>
                        <span>@string.Format("{0:#,0}", item.Gia)₫</span>
                    </p>
                </div>
            </div>
        }

    </div>
    <p class="text-center">@ViewBag.noti</p>
</div>
